<div class="col-lg-7">
  <div class="business_form_custom mt-3">
    <form id="form-questions" name="form-questions">
      <fieldset>
        <input name="sheet" type="hidden" value="Questions" />
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <input name="Your name" type="text" class="form-control" placeholder="{{ 'Your name' | i18n }}..."
                required="">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <input name="Your email" type="email" class="form-control" placeholder="{{ 'Your email' | i18n }}...">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <input name="Telephone number" type="phone" class="form-control" id="fc-phone" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <input name="Subject" class="form-control" placeholder="{{ 'Subject' | i18n }}...">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <textarea name="Message" rows="4" class="form-control" placeholder="{{ 'Message' | i18n }}..."
                required=""></textarea>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-lg-12">
            <input id="form-questions-submit" type="submit" class="btn btn-primary rounded-pill"
              value="{{ 'Send' | i18n }}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>