<div class="modal fade" id="formCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="float-end btn-close" data-bs-dismiss="modal"
          aria-label="{{ 'Close' | i18n }}"></button>
        <div class="">
          <h5 class="" id="exampleModalLabel">{{ 'Let\'s get started!' | i18n }}!</h5>
          <p>{{ 'Give us a chance to supply you with the best in the market.' | i18n }}
            <br />{{ 'Please tell us a little about your needs and situation.' | i18n }}
          </p>
        </div>
        <form id="form.customer" onsubmit="return onSubmit();">
          <div class="mb-3">
            <label for="fc-name" class="form-label">{{ 'First name' | i18n }}</label>
            <input id="entry.510370" name="entry.510370" type="text" placeholder="{{ 'placeholder First name' | i18n }}"
              class="form-control" id="fc-name" />
          </div>
          <div class="mb-3">
            <label for="fc-last" class="form-label">{{ 'Last name' | i18n }}</label>
            <input id="entry.529659111" name="entry.529659111" type="text"
              placeholder="{{ 'placeholder Last name' | i18n }}" class="form-control" id="fc-last" />
          </div>
          <div class="mb-3">
            <label for="fc-email" class="form-label">{{ 'Email address' | i18n }}</label>
            <input id="entry.1335138370" name="entry.1335138370" type="email"
              placeholder="{{ 'placeholder Email' | i18n }}" class="form-control" id="fc-email"
              aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">{{ 'never share your email' | i18n }}</div>
          </div>
          <div class="mb-3">
            <label for="fc-phone" class="form-label">{{ 'Telephone number' | i18n }}</label>
            <div class="input-group mb-3">
              <input id="entry.1325652914" name="entry.1325652914" type="text" class="form-control" id="fc-phone" />
            </div>
          </div>
          <div class="mb-3">
            <label for="fc-company" class="form-label">{{ 'Company name' | i18n }}</label>
            <input id="entry.1900898239" name="entry.1900898239" type="text" placeholder="{{ 'John Doe Corp' | i18n }}"
              class="form-control" id="fc-company" />
          </div>
          <div class="mb-3">
            <label for="fc-business" class="form-label">{{ 'Business ID' | i18n }}</label>
            <input id="entry.1112552584" name="entry.1112552584" type="text" placeholder="{{ 'XXXXXXX-X' | i18n }}"
              class="form-control" id="fc-business" />
          </div>
          <div class="mb-3">
            <label for="fc-case" class="form-label">{{ 'Case Description' | i18n }}</label>
            <textarea id="entry.1457350359" name="entry.1457350359" class="form-control"
              placeholder="{{ 'placeholder Case Description' | i18n }}" rows="3" id="fc-case"></textarea>
          </div>
          <div class="mb-3">
            <label for="fc-schedule" class="form-label">{{ 'Your Schedule' | i18n }}</label>
            <input id="entry.282991526" name="entry.282991526" type="text"
              placeholder="{{ 'placeholder Your Schedule' | i18n }}" class="form-control" id="fc-schedule" />
          </div>
          <div class="mb-3">
            <label for="fc-long" class="form-label">{{ 'How Long Do You Need The Talent' | i18n }}</label>
            <input id="entry.1718516198" name="entry.1718516198" type="text"
              placeholder="{{ 'placeholder How Long' | i18n }}" class="form-control" id="fc-long" />
          </div>
          <div class="mb-3">
            <label for="fc-other" class="form-label">{{ 'Other Requirements' | i18n }}</label>
            <input id="entry.552707613" name="entry.552707613" type="text"
              placeholder="{{ 'placeholder Other Requirements' | i18n }}" class="form-control" id="fc-other" />
          </div>

        </form>
      </div>
      <div class="border-top p-3 d-flex justify-content-between">
        <button type="submit" form="form.customer" class="btn btn-primary">{{ 'Send' | i18n }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close' | i18n }}</button>
      </div>
    </div>
  </div>
</div>
<script>
  function onSubmit() {
    $.ajax({
      url: "https://docs.google.com/forms/u/0/d/e/1FAIpQLSeN7N-Z75bi-5LNxHAG1lgB_ncWgFoQXX4M_yv6NHsGoGNUEw/formResponse?embedded=true",

      data: [510370, 529659111, 1335138370, 1325652914, 1900898239, 1112552584, 1457350359, 282991526, 1718516198, 552707613].reduce((acc, f) => {
        const entry = 'entry.' + f
        acc[entry] = $('#' + entry).val()
        return acc
      }, {}),
      type: "POST",
      dataType: "xml",
      success: function (d) {
        $('#contact').trigger('reset');
      },
      error: function (x, y, z) {
        $('#contact').trigger('reset');
      }
    });
    return false;
  }
</script>