<div class="modal fade" id="formCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="float-end btn-close" data-bs-dismiss="modal"
          aria-label="{{ 'Close' | i18n }}"></button>
        <div class="">
          <h5 class="" id="exampleModalLabel">{{ 'Let\'s get started!' | i18n }}!</h5>
          <p>{{ 'Give us a chance to supply you with the best in the market.' | i18n }}
            <br />{{ 'Please tell us a little about your needs and situation.' | i18n }}
          </p>
        </div>
        <form id="form-customer" name="form-customer">
          <fieldset>
            <input name="sheet" type="hidden" value="Clients" />
            <div class="mb-3">
              <label for="entry.510370" class="form-label">{{ 'First name' | i18n }}</label>
              <input id="entry.510370" name="First name" type="text" placeholder="{{ 'placeholder First name' | i18n }}"
                class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.529659111" class="form-label">{{ 'Last name' | i18n }}</label>
              <input id="entry.529659111" name="Last name" type="text"
                placeholder="{{ 'placeholder Last name' | i18n }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.1335138370" class="form-label">{{ 'Email address' | i18n }}</label>
              <input id="entry.1335138370" name="Email address" type="email"
                placeholder="{{ 'placeholder Email' | i18n }}" class="form-control" aria-describedby="emailHelp" />
              <div id="emailHelp" class="form-text">{{ 'never share your email' | i18n }}</div>
            </div>
            <div class="mb-3">
              <label for="fc-phone" class="form-label">{{ 'Telephone number' | i18n }}</label>
              <div class="input-group mb-3">
                <input id="fc-phone" name="Telephone number" type="text" class="form-control" />
              </div>
            </div>
            <div class="mb-3">
              <label for="entry.1900898239" class="form-label">{{ 'Company name' | i18n }}</label>
              <input id="entry.1900898239" name="Company name" type="text" placeholder="{{ 'John Doe Corp' | i18n }}"
                class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.1112552584" class="form-label">{{ 'Business ID' | i18n }}</label>
              <input id="entry.1112552584" name="Business ID" type="text" placeholder="{{ 'XXXXXXX-X' | i18n }}"
                class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.1457350359" class="form-label">{{ 'Case Description' | i18n }}</label>
              <textarea id="entry.1457350359" name="Case Description" class="form-control"
                placeholder="{{ 'placeholder Case Description' | i18n }}" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="entry.282991526" class="form-label">{{ 'Your Schedule' | i18n }}</label>
              <input id="entry.282991526" name="Your Schedule" type="text"
                placeholder="{{ 'placeholder Your Schedule' | i18n }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.1718516198" class="form-label">{{ 'How Long Do You Need The Talent' | i18n }}</label>
              <input id="entry.1718516198" name="How Long Do You Need The Talent" type="text"
                placeholder="{{ 'placeholder How Long' | i18n }}" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="entry.552707613" class="form-label">{{ 'Other Requirements' | i18n }}</label>
              <input id="entry.552707613" name="Other Requirements" type="text"
                placeholder="{{ 'placeholder Other Requirements' | i18n }}" class="form-control" />
            </div>
          </fieldset>
        </form>
      </div>
      <div class="border-top p-3 d-flex justify-content-between">
        <button id="form-customer-submit" type="submit" form="form-customer" class="btn btn-primary">{{ 'Send' | i18n
          }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close' | i18n }}</button>
      </div>
    </div>
  </div>
</div>