<section class="min-vh-100 bg-with-cover cover-services d-flex align-items-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="py-3 display-2 text-white text-capitalize">{{ meta.title }}</h1>
        <p class="py-2 text-white fs-5">
          Base it Oy on 2021 vuonna perustettu kansainvälinen BASE Henkilöstöpalvelut Oy:n tytäryhtiö.
        </p>
        <p class="py-2 text-white fs-5">
          BASE IT OY tarjoaa IT alan konsultointipalveluita sekä henkilöstöratkaisuja kuten vuokratyövoimaa,
          freelancereita tai IT alihankintaa ja rekrytointipalveluita.
        </p>
        <p class="py-2 text-white fs-5">
          BASE IT OY omaa laajan kansainvälisen it asiantuntija verkoston sekä IT ja liiketoiminta osaamisen mikä
          mahdollistaa asiakasyritykselle löytämään parhaan osaajan tarjottuun tehtävään sekä toimimaan itse projektin
          vetäjänä alihankkija - roolissa.
        </p>
        <p class="py-2 text-white fs-5">
          Ota ensi askel jo tänään ja kerro meille mitä olet hakemassa uuteen tai olemassa olevaan projektiisi!
        </p>
        <p class="py-2">
          <button class="btn btn-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#formCustomer">Jätä
            viesti</button>
        </p>
        <small class="text-white">
          Voitte myös jättää tarjouspyynnöt ja tietoa avoimista paikoista suoraan osoitteeseen:
          <span class="py-2 px-1 wave-underline">customers (at) baseit.fi</span>
        </small>
      </div>
    </div>
  </div>
</section>
{% include "form.customer.njk" %}