<section class="section_all bg_buss_call_cta text-white">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="display-3">
          Miksi {{ 'BASEiT' | i18n }} Oy?
        </h2>
        <p class="fs-4 mt-4 pt-2">
          {{ 'BASEiT' | i18n }} Oy on moderni HR- ja konsultointiyhtiö, jonka ytimessä ovat uudet ja vakaat teknologiat,
          kansainvälisyys ja laaja IT-alan ammattilaisverkosto.
        </p>
        <p class="fs-4 mt-4 pt-2">
          Näin {{ 'BASEiT' | i18n }} Oy toteuttaa henkilöstöratkaisuja IT-yritysten liiketoiminnan eri tarpeisiin:
          projektin suunnittelusta sen toteutukseen.
        </p>
        <p class="mt-4 pt-2">
          <button class="btn btn-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#formCustomer">
            Jätä viesti
          </button>
        </p>
        <small class="mt-4 pt-2 d-block text-white">
          Voit myös jättää tarjouspyynnön ja tietoa avoimista paikoista suoraan osoitteeseen
          <span class="py-2 px-1 wave-underline">customers (at) baseit.fi</span>
        </small>

      </div>
    </div>
  </div>
  </div>
</section>
{% include "form.customer.njk" %}