{#
<section class="min-vh-100 bg-with-cover cover-services d-flex align-items-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="py-3 display-2 text-white text-capitalize">{{ meta.title }}</h1>
        <p class="py-2 text-white fs-5">
          {{ 'BASEiT' | i18n }} Oy on 2021 vuonna perustettu kansainvälinen BASE Henkilöstöpalvelut Oy:n tytäryhtiö.
        </p>
        <p class="py-2 text-white fs-5">
          {{ 'BASEiT' | i18n }} OY tarjoaa IT alan konsultointipalveluita sekä henkilöstöratkaisuja kuten
          vuokratyövoimaa,
          freelancereita tai IT alihankintaa ja rekrytointipalveluita.
        </p>
        <p class="py-2 text-white fs-5">
          {{ 'BASEiT' | i18n }} OY omaa laajan kansainvälisen it asiantuntija verkoston sekä IT ja liiketoiminta
          osaamisen mikä
          mahdollistaa asiakasyritykselle löytämään parhaan osaajan tarjottuun tehtävään sekä toimimaan itse projektin
          vetäjänä alihankkija - roolissa.
        </p>
        <p class="py-2 text-white fs-5">
          Ota ensi askel jo tänään ja kerro meille mitä olet hakemassa uuteen tai olemassa olevaan projektiisi!
        </p>
        <p class="py-2">
          <button class="btn btn-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#formCustomer">Jätä
            viesti</button>
        </p>
        <small class="text-white">
          Voitte myös jättää tarjouspyynnöt ja tietoa avoimista paikoista suoraan osoitteeseen:
          <span class="py-2 px-1 wave-underline">customers (at) baseit.fi</span>
        </small>
      </div>
    </div>
  </div>
</section>
#}
{#
<section class="section_all" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title_all text-center">
          <span class="bg-secondary rounded-circle p-3 material-icons-round md-light md-36">groups</span>
          <h3 class="mt-3">Tiimi</h3>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="business_team_box bg-white text-center mt-3">
          <img src="/assets/images/Ivan.jpg" alt="" class=" img-fluid mx-auto d-block">
          <div class="mt-3 buss_team_info">
            <h5 class="">Ivan Kalishevich</h5>
            <small class="text-muted font-weight-normal">Kumppanuudet, PM</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="business_team_box bg-white text-center mt-3">
          <img src="/assets/images/Ivan.jpg" alt="" class=" img-fluid mx-auto d-block">
          <div class="mt-3 buss_team_info">
            <h5 class="">Ivan Kalishevich</h5>
            <small class="text-muted font-weight-normal">Kumppanuudet, PM</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="business_team_box bg-white text-center mt-3">
          <img src="/assets/images/Ivan.jpg" alt="" class=" img-fluid mx-auto d-block">
          <div class="mt-3 buss_team_info">
            <h5 class="">Ivan Kalishevich</h5>
            <small class="text-muted font-weight-normal">Kumppanuudet, PM</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
#}
<section class="section_all bg_buss_call_cta text-white">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="display-3">
          Why {{ 'BASEiT' | i18n }} Oy?
        </h2>
        <p class="fs-4 mt-4 pt-2">
          {{ 'BASEiT' | i18n }} Oy is a modern HR and consulting company with new and stable technologies, long
          International
          experience and an extensive network of IT professionals at its core.
        </p>
        <p class="fs-4 mt-4 pt-2">
          In this way, {{ 'BASEiT' | i18n }} Oy can implement personnel solutions for the various business needs of IT
          companies: from
          project planning to its implementation.
        </p>
        <p class="mt-4 pt-2">
          <button class="btn btn-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#formCustomer">Send
            your inquiry</button>
        </p>
        <small class="mt-4 pt-2 d-block text-white">
          You can also submit requests for quotations and information about vacancies directly to:
          <span class="py-2 px-1 wave-underline">customers (at) baseit.fi</span>
        </small>

      </div>
    </div>
  </div>
  </div>
</section>
{% include "form.customer.njk" %}