<section class="min-vh-65 bg-with-cover cover-join d-flex align-items-end">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-2 text-white text-capitalize">{{ meta.title }}</h1>
        <p class="py-2 text-white fs-5">
          {{ 'BASEiT' | i18n }} Oy is an international company founded in 2021, which offers personnel solutions and IT
          outsourcing and outstaffing services. We constantly offer you new domestic and international jobs and
          freelance assignments, on behalf of our Client's.
        </p>
        <p class="py-2 text-white fs-5">
          Join our Talent Community now and take a step towards new challenges and opportunities.
        </p>
        <div class="pt-2">
          <a class="btn btn-primary btn-lg rounded-pill me-sm-4 d-block d-md-inline" target="_blank"
            href="https://ats.talentadore.com/talent-community/base-it-oy/join/nyp/en/g/ebGn">Open Application</a>
          <a class="btn btn-primary btn-lg rounded-pill mt-4 mt-sm-0 d-block d-md-inline" target="_blank"
            href="https://ats.talentadore.com/talent-community/base-it-oy/join/nyp/en/g/y5pA">For Partner &
            Subcontractors</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_all bg-light" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="container">
          <div class='row justify-content-center'>
            <div class="col-12">
              <h1 class="mb-5">Here you can see all our open vacancies and assignments</h1>
            </div>
            <div class="col-md-8 btn-group1 mb-5" role="group" aria-label="Type">
              <input type="radio" class="btn-check" name="btnradio" value="assignment" id="btnradio0" autocomplete="off"
                checked>
              <label class="btn btn-outline-primary rounded-pill m-1" for="btnradio0">{{ 'Assignments' | i18n }}</label>
              <input type="radio" class="btn-check" name="btnradio" value="open+position" id="btnradio1"
                autocomplete="off">
              <label class="btn btn-outline-primary rounded-pill m-1" for="btnradio1">{{ 'Open positions' | i18n
                }}</label>
              <input type="radio" class="btn-check" name="btnradio" value="direct+recruiting" id="btnradio2"
                autocomplete="off">
              <label class="btn btn-outline-primary rounded-pill m-1" for="btnradio2">{{ 'Direct recruiting' | i18n
                }}</label>
            </div>
            <div class="col-md-8 mb-5" aria-label="Country" id="talentadore-filters"></div>
          </div>
          <div class="row justify-content-center" id="talentadore"></div>

          <div class="row justify-content-center collapse" id="talentadore-message">
            <div class="col-md-10">
              <div class="card h-100 text-dark bg-warning">
                <div class="card-body job-card">
                  <div class="card-text">{{ 'No offers at the moment' | i18n }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>