<section class="min-vh-100 bg-with-cover cover-services d-flex align-items-center">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="py-3 display-2 text-white text-capitalize">{{ meta.title }}</h1>
        <p class="py-2 text-white fs-5">
          BASE IT Oy is Finnish company, a subsidiary of BASE Henkilöstöpalvelut Oy.
        </p>
        <p class="py-2 text-white fs-5">
          BASE IT OY offers IT recruitment, outsourcing and outstaffing services as well as personnel solutions such as
          temporary staff, freelancers or IT subcontracting and recruitment services.
        </p>
        <p class="py-2 text-white fs-5">
          BASE IT OY has an extensive international IT expert network as well as IT and business know - how, which
          enables the client company to find the best expert for the position offered and to act as the project leader
          in the role of subcontractor.
        </p>
        <p class="py-2 text-white fs-5">
          Take the first step today and let us know what you are looking for in your new or existing project!
        </p>
        <p class="py-2">
          <button class="btn btn-primary btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#formCustomer">Send
            your inquiry</button>
        </p>
        <small class="text-white">
          You can also submit requests for quotations and information about vacancies directly to:
          <span class="py-2 px-1 wave-underline">customers (at) baseit.fi</span>
        </small>
      </div>
    </div>
  </div>
</section>
{% include "form.customer.njk" %}