@import url("https://fonts.googleapis.com/css?family=Spartan:400,500,700|Roboto:400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

.btn-primary,
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
}

body {
  // font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Spartan", sans-serif;
// }

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
  font-weight: 500 !important;
}

a,
a:hover,
a:focus,
button {
  // color: $primary;
  text-decoration: none !important;
  outline: none !important;
}

a:hover {
  text-decoration: underline;
}

.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-32 {
  font-size: 32px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}
.material-icons-round.md-64 {
  font-size: 64px;
}

/* Rules for using icons as black on a light background. */
.material-icons-round.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons-round.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-round.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons-round.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
.material-icons-round.md-primary {
  color: $primary;
}
.material-icons-round.md-secondary {
  color: $primary;
}
.svg-container {
  width: ($spacer * 2);
  height: ($spacer * 2);

  &.base {
    background-color: #222;
  }

  svg.svg-icon {
    width: ($spacer);
    height: ($spacer);

    &.facebook path {
      fill: #3b5998;
    }
    &.linkedin path {
      fill: #0077b5;
    }
    &.base path {
      fill: #ffcc00;
    }
  }
}

// Covers
.bg-with-cover {
  // sticky header logo height ($spacer * 4) + py-3 (spacer * 1)
  padding-top: ($spacer * 5);
  background-color: #222335;
  background-size: cover;
  background-position: center center;
}
.cover-join {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url(../images/puzzle-ga517bba4e_1280.jpg);
}
.cover-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url(../images/finance-g8d373bb75_1280.jpg);
}
.cover-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url(../images/bg_business_counter.jpg);

  .typedjs-slogan {
    color: $primary;
  }
}

.vh-50 {
  height: 50vh;
}

.vh-65 {
  height: 65vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-65 {
  min-height: 65vh;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  text-transform: uppercase;
  font-weight: 700;
}
.wave-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $primary;
  text-underline-offset: 0.5rem;
}

.half-circle {
  bottom: 0;
  right: 0;
}
.home-overlay {
  z-index: 9;
}
.home-body {
  z-index: 10;
}


.mh-services {
  min-height: 14rem;
}

.iti.iti--allow-dropdown {
  display: block !important;
}

/*==================
    02.HELPER
====================*/
.section_title_all h3 {
  text-transform: capitalize;
  font-weight: 500;
}

.section_subtitle {
  max-width: 550px;
}

.section_title_all span {
  color: $primary;
}

.section_icons i {
  font-size: 34px;
  background-color: $primary;
  color: #ffffff;
  display: inline-block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50px;
  font-weight: 700;
}

/* .text_custom {
  color: $primary;
} */

.bg_custom_gradiant {
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ff4b1f,
    #ff9068
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ff4b1f,
    #ff9068
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.full_height_100vh {
  height: 100vh;
}

.vertical_content_manage {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.section_all {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  /*background-color: #ffffff;*/
}

.navbar-brand img {
  height: ($spacer * 4);
}

.navbar-dark {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.navbar-dark .navbar-nav li > a {
  font-size: 125%;
  font-weight: 500;
  color: #fff !important;
  background-color: transparent !important;
  transition: all 0.4s;
}
.navbar-dark .navbar-nav li > a:hover {
  color: $primary !important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $primary !important;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.stickyadd .navbar-nav {
  margin-top: 0px;
}

.stickyadd.navbar-dark .navbar-nav li > a {
  color: rgba(0, 0, 0, 0.75) !important;
}

.stickyadd.navbar-dark {
  /* margin-top: 0px;
  padding: 8px 0px; */
  background-color: #fff;
  border-bottom: 1px solid #fff;
  /* box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1); */
}

.navbar-dark .navbar-nav li.active a,
.navbar-dark .navbar-nav li a:hover,
.navbar-dark .navbar-nav li a:active {
  color: $primary !important;
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

/* .custom_nav_menu .btn-custom {
  margin-top: 5px;
  margin-bottom: 5px;
} */

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #337ab7;
}

.logo .logo-light {
  display: inline-block;
}

.stickyadd .logo .logo-dark {
  display: inline-block;
}

.stickyadd .logo .logo-light {
  display: none;
}

.logo .logo-dark {
  display: none;
}

/*================
    04.HOME
==================*/

.home_title {
  font-size: 50px;
  line-height: 1.2;
  max-width: 600px;
}

.home_subtitle {
  color: #dadada;
  max-width: 600px;
  line-height: 1.8;
}

.home_table_cell_center {
  display: table-cell;
  vertical-align: middle;
}

.home_table_cell {
  display: table;
  width: 100%;
  height: 100%;
}

.up-index {
  z-index: 2;
}

/*===================
   0.7 BUSINESS CTA 
====================*/

.bg_cta_business_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../images/bg_business_cta.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bg_buss_call_cta {
  background-image: linear-gradient(#00394ecc, #00394e80),
    url(../images/bg_buss_call.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*====================
  12. OUR TEAM
=====================*/

.business_team_box h5 {
  font-size: 18px;
}

.business_team_box .buss_team_info {
  padding: 12px 50px;
}

.business_team_box .business_team_social li a {
  color: #888;
  padding: 5px 10px;
  transition: all 0.5s;
  text-align: center;
}

.business_team_box .business_team_social li:hover a {
  border-color: $primary;
  background: $primary;
  color: #fff;
}

/*=====================
    18. CONTACT US
======================*/

.business_form_custom .form-control {
  height: 50px;
  font-size: 16px;
  border-color: #eae7e7;
}

textarea.form-control {
  height: auto !important;
}

.business_form_custom .form-control:focus {
  border-color: $primary !important;
  box-shadow: none;
  outline: 0;
}

.contact_details_content {
  border-radius: 4px;
}

.contact_detail p {
  overflow: hidden;
}


/*==================
    19.FOOTER
====================*/

.bg_footer {
  background-color: #2e3234;
}

.buss_footer_menu_list li a {
  color: #6c757d;
  font-size: 16px;
}

.buss_footer_menu_list li {
  padding-bottom: 10px;
}

.footer_alt_cpy {
  color: #6c757d;
}

.buss_icon_social_footer ul li a {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  height: 45px;
  width: 45px;
  display: inline-block;
  line-height: 43px;
  border-radius: 50%;
  transition: all 0.5s;
  text-align: center;
  font-size: 16px;
}

.buss_icon_social_footer ul li a:hover {
  border: 2px solid $primary;
  color: #fff;
}

.business_footer_logo img,
.minimal_footer_logo img,
.footer_logo_software img {
  max-width: 150px;
}

/*---------------------
    LANDING FOOTER
----------------------*/

.footer_menu_list li a {
  color: #6c757d;
  font-size: 16px;
  font-weight: bold;
}

.footer_menu_list li::after {
  content: "|";
  margin: 0 8px;
  color: #6c757d;
}

.footer_menu_list li:last-child:after {
  content: "";
  margin: 0px;
}

.footer_alt_cpy,
.text-footer {
  color: #6c757d;
}

/*=====================
    20. RESPONSIVE
=======================*/

@media (max-width: 991px) {
  .navbar-brand img {
    // height: 48px;
    height: ($spacer * 3);
  }
  .bg-with-cover {
    // sticky header logo height ($spacer * 3) + py-?
    padding-top: ($spacer * 4);
  }
  .navbar-dark {
    background-color: #fff !important;
  }
  .vertical_content_manage {
    display: inherit;
  }
  .home_title {
    font-size: 34px;
  }

  .home_title_minimal {
    font-size: 28px;
  }

  .section_main_box h3 {
    font-size: 24px;
  }
  .navbar-dark .navbar-nav li a {
    color: rgba(0, 0, 0, 0.55) !important;
  }
  .navbar-dark .navbar-nav li.active a {
    color: $primary !important;
  }
  .navbar-dark .logo .logo-dark {
    display: inline-block;
  }
  .navbar-dark .logo .logo-light {
    display: none;
  }
  .navbar-nav {
    margin-top: 0px;
  }
  .navbar-toggler {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
  }
  .full_height_100vh_home {
    height: auto;
  }
  .full_height_100vh_home {
    padding: 125px 0px;
    position: relative;
  }
  .home_half_cover {
    padding: 125px 0 130px 0;
  }
  .work_border_left {
    border: none;
  }
  .bg_home_minimal_cover {
    padding: 90px 0px;
    position: relative;
    background-position: center;
  }
  .app_testi_box {
    margin: 5px;
  }
  .section_title h3 {
    z-index: 100;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .section_title p {
    font-size: 36px;
    position: relative;
  }

  .half_height_home_blog {
    position: relative;
    padding: 121px 0 110px;
  }
}

@media (min-width: 830px) {
  .app_home_landing img {
    max-width: 300px;
  }
}

@media screen and (max-width: 820px) and (min-width: 350px) {
  .home_title {
    font-size: 26px;
  }
}

.job-card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
